@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #075985;
}

* {
  @apply font-sans;
}
section {
  @apply w-[80%] mx-auto;
}

.section_gap {
  @apply flex flex-col gap-y-40;
}

.display-large {
  @apply font-extrabold text-[clamp(2.55rem,1.5vw,4rem)] leading-[150%] tracking-[0.008em];
}

.h1 {
  @apply text-[2.83rem] font-bold leading-[155%] tracking-[0.015em];
}
.h2 {
  @apply text-[#141414] font-semibold text-[clamp(2rem,4vw,2rem)] leading-[155%] tracking-[0.0325em] pb-2 text-start;
}
.h3 {
  @apply text-[#141414] text-[1.68rem] font-semibold leading-[155%] tracking-[0.02em] pb-2;
}
.h4 {
  @apply text-[#141414] text-[1.41rem] font-medium leading-[160%] tracking-[0.025em];
}
.h5 {
  @apply text-[#141414] text-[1.3rem] font-medium leading-[160%] tracking-[0.025em];
}
.h6 {
  @apply text-[#141414] text-[1.19rem] font-medium leading-[160%] tracking-[0.03em];
}

.p {
  @apply font-normal text-pretty text-[0.875rem] leading-[160%] opacity-75 tracking-[0.04em] max-w-[68ch] text-start;
}

.body {
  @apply text-[0.875rem] font-normal leading-[160%] tracking-[0.04em] text-pretty max-w-[68ch];
}

a {
  @apply cursor-pointer;
}

.a {
  @apply text-[#000000] text-[1.4rem];
}
.accent {
  @apply bg-[--primary-color] w-4 h-px mx-2;
}
.accentV {
  @apply bg-[--primary-color] h-14 w-[3px] rounded-lg my-5;
}

.logos {
  @apply rounded;
}

.btn {
  @apply py-[0.75rem] px-[2rem] min-w-56 flex items-center justify-center text-[0.875rem] text-white rounded-md transition-all duration-500 bg-[--primary-color];
}
.btn:hover {
  @apply bg-[#064b6d] text-white;
}

.btn-ghost {
  @apply py-[0.75rem] px-[2rem] min-w-56 flex items-center justify-center outline-1 outline-white outline text-[0.875rem] text-white rounded-md transition-all duration-500;
}
.btn-ghost:hover {
  @apply bg-[#064b6d] outline-[#064b6d] text-white;
}
.grid-images {
  @apply grid grid-flow-col lg:grid-flow-row grid-cols-2 lg:grid-cols-4 grid-rows-2 lg:grid-rows-1 gap-2 lg:gap-4 justify-center;
}

.wrapper-image {
  @apply flex flex-row flex-wrap rounded-lg overflow-hidden;
}

.wrapper-image img {
  @apply w-44 lg:w-full max-w-80;
}

.img__zoom {
  @apply hover:scale-110 transition-all duration-500 object-cover;
}

.wrapper-card {
  @apply flex flex-row flex-wrap justify-center sm:flex-row gap-4 xl:gap-x-6;
}

.card {
  @apply flex flex-col max-w-[28rem] gap-y-2 bg-gray-100 p-8 rounded-lg;
}

.card-image {
  @apply w-full max-w-80 h-full max-h-80 rounded-md object-cover;
}

.line {
  @apply mx-4 w-[75%] md:w-full my-2 max-w-[70rem] h-[2px] bg-[#2c2c2c] self-center;
}

.wrapper-services {
  @apply flex flex-row flex-wrap justify-center gap-8 lg:gap-y-20;
}

.card-services {
  @apply flex flex-col gap-4 lg:gap-6 shadow-sm p-4;
}
.card-services_title {
  @apply leading-[160%] text-start;
}
.image-services {
  @apply h-[12rem] w-full max-w-[28rem] rounded-lg object-cover;
}
.wrapper-benefits {
  @apply flex-col gap-y-4;
}
.wrapper-benefits li {
  @apply list-none flex flex-row gap-x-3;
}
.wrapper-benefits li div {
  @apply flex items-center;
}
li {
  @apply list-none;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
